body {
    background-color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: normal;
    width:100%;
}

text {
  fill: black;
}



#wrapper {
   position: relative;
   top: 20px;
   padding: 10px;
}




button {
    background: none repeat scroll 0 0 #55aab5;
    color: #23262C;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-top: 30px;
    padding: 10px 40px;
    text-align: center;
    transition: background 0.1s linear 0s, color 0.1s linear 0s;
    vertical-align: middle;
    width: auto;
    border: 0;
}

button:hover {
    background: none repeat scroll 0 0 #DE5E60;
    color: #FFFFFF;
}


/* data table */
#grid { height: 198px; color:black; clear: both; position:relative; top: 60px; left: 175px }
.row, .header { clear: left; font-size: 14px; line-height: 18px; height: 20px; margin: 5px; width:1520px }
.row:hover {text-shadow: -1px 1px 8px #FEB40C, 1px -1px 8px #FFFFFF;}
.row:nth-child(odd) { background: rgba(0,0,0,0.05); }
.header { font-weight: bold; }
.cell { float: left; overflow: hidden; white-space: nowrap; width: 150px; height: 22px; }
.col-0 { width: 280px; }

